<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../includes/head") %> <%- include("../includes/navbar") %>
        <title>Adopt Me - Dashboard</title>
    </head>
    <body class="bg-slate-200">
        <p>Admin Dashboard</p>
        <!-- Sidebar -->

        <!-- End Sidebar -->
        <!-- Main -->

        <!-- End Main -->
        <%- include("../includes/footer") %>
    </body>
</html>
