<html>
    <head>
        <%- include("../includes/head") %> <%- include("../includes/navbar") %>
        <title>Adopt Me - Profile</title>
    </head>
    <body class="bg-slate-200">
        <div class="container mx-auto px-4 pt-8">
            <div class="flex flex-wrap">
                <!-- Display User Profile Page -->
            </div>
        </div>
        <%- include("../includes/footer") %>
    </body>
</html>
