<div class="w-full px-4">
    <ul class="flex flex-wrap items-center mb-16">
        <li class="mr-6">
            <a
                class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500"
                href=""
            >
                <span>
                    Home
                    <i class="fas fa-chevron-right text-xs ml-2"></i>
                </span>
            </a>
        </li>
        <li class="mr-6">
            <a
                class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500"
                href=""
            >
                <span>
                    Store
                    <i class="fas fa-chevron-right text-xs ml-2"></i>
                </span>
            </a>
        </li>
        <li>
            <a
                class="text-sm font-medium text-indigo-500 hover:text-indigo-600"
                href=""
            >
                Apple iPhone 12 PRO
            </a>
        </li>
    </ul>
</div>
