<div class="w-full px-4">
    <ul class="flex flex-wrap items-center mb-16">
        <li class="mr-6">
            <a
                class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500"
                href="/find"
            >
                <span>
                    Pets
                    <i class="fas fa-chevron-right text-xs ml-2"></i>
                </span>
            </a>
        </li>
        <li class="mr-6">
            <a
                class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500"
                href="/find/<%= type %>s"
            >
                <span>
                    <%= type.charAt(0).toUpperCase() + type.slice(1) %>s
                    <i class="fas fa-chevron-right text-xs ml-2"></i>
                </span>
            </a>
        </li>
        <li>
            <a
                class="text-sm font-medium text-indigo-500 hover:text-indigo-600"
                href=""
            >
                <%= breed.charAt(0).toUpperCase() + breed.slice(1) %>
            </a>
        </li>
    </ul>
</div>
